<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/output/echo.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Library input</title>
	</head>
	<body>
		<echo line="Echo test"/>
		<p>@</p>
	</body>
</html>
</templatizer>
