<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/database/kv.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Database input</title>
	</head>
	<body>
		<link lib="../plugins/database/kv.so"/>
		<prototype name="kv_get" return="int">
			<string name="op"/>
			<string name="key"/>
		</prototype>
		<extern name="kv_get"/>
		<kv op="get" key="users/mateus/age"/>
		<let var="ret" value="$$"/>
		<p>$ret</p>
		<p>@</p>
	</body>
</html>
</templatizer>
