<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/input/in_helloworld.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Load library</title>
	</head>
	<body>
		<p>Library loaded.</p>
	</body>
</html>
</templatizer>
