<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/input/helloworld-rs/target/release/libhelloworld_rs.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Library input</title>
	</head>
	<body>
		<p>@</p>
	</body>
</html>
</templatizer>
