<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/input/helloworld_d.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>DLang Library input</title>
	</head>
	<body>
		<p>@</p>
		<p><span>0 + 1 + 1 =</span>@</p>
		<p><span>32 + 8 =</span>@</p>
		<p><span>5 - 2 =</span>@</p>
		<p><span>5 * 2 =</span>@</p>
	</body>
</html>
</templatizer>
