<!-- Copyright (C) 2022 Mateus de Lima Oliveira -->
<templatizer lib="../plugins/tests/sqlite.so">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>SQL Test 1</title>
	</head>
	<body>
		<p>@</p>
	</body>
</html>
</templatizer>
