<templatizer lib="/usr/lib/pollen/plugins/sysinfo.so">
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Server System Information</title>
  </head>
  <body>
    <h1>Server system information</h1>
    <p>Number of cores: <span>@</span></p>
  </body>
</html>
</templatizer>
