Package: pollen-lang
Version: 1.002
Maintainer: Mateus de Lima Oliveira
Architecture: amd64
Description: A XML/HTML templating programming language.
Depends: build-essential, flex, bison, libapr1-dev, libexpat1-dev, liblmdb-dev, libvirt-dev, libsqlite3-dev, ldc, cargo, rustc, valgrind, llvm-dev, apache2, xsltproc
